language: r
warnings_are_errors: true

r_github_packages:
    - jimhester/covr
    - berndbischl/BBmisc

before_script:
    - curl -L https://raw.githubusercontent.com/rdatsci/travis-r-tools/master/update-packages.r -o /tmp/update-packages.r
    - Rscript /tmp/update-packages.r

after_success:
    - Rscript -e 'library(covr); coveralls()'

notifications:
  email:
    on_success: change
    on_failure: always
